* {
  box-sizing: border-box;
}

body {
  background-color: #e5e7eb;
  height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: Inter, sans-serif;
}
/* Star Styles */
/* -------------- */
.star {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  user-select: none;
  color: white;
}
.star.filled {
  color: orange;
}
/* -------------- */

/* Button Styles */
/* -------------- */
button {
  background-color: #e5e7eb;
  color: #4b5563;
  border: 1px solid #6b7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

button:focus {
  outline: none;
}

/* Small */
button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

/* Large */
button.button-lg {
  padding: 13px 25px;
}

button.button-success {
  color: #047857;
  background-color: #ecfdf5;
  border-color: #047857;
}

button.button-warning {
  color: #fbbf24;
  background-color: #fffbeb;
  border-color: #fbbf24;
}

button.button-danger {
  color: #f87171;
  background-color: #fef2f2;
  border-color: #f87171;
}
/* -------------- */

/* Menu Styles */
/* -------------- */
.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: white;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.menu-item {
  color: #4b5563;
  padding: 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6b7280;
}
/* -------------- */

/* Badge Styles */
/* -------------- */
.badge {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: #f3f4f6;
  color: #1f2937;
  text-align: center;
  padding: 0.2rem 0.75rem;
  max-width: 67px;
  max-height: 24px;
}
.badge-square {
  border-radius: 4px;
}
.badge-pill {
  border-radius: 12px;
}
.badge-red {
  background-color: #fee2e2;
  color: #991b1b;
}
.badge-yellow {
  background-color: #fef3c7;
  color: #92400e;
}
.badge-green {
  background-color: #d1fae5;
  color: #065f46;
}
.badge-blue {
  background-color: #dbeafe;
  color: #1e40af;
}
.badge-indigo {
  background-color: #e0e7ff;
  color: #3730a3;
}
.badge-purple {
  background-color: #ede9fe;
  color: #5b21b6;
}
.badge-pink {
  background-color: #fce7f3;
  color: #9d174d;
}
/* -------------- */

/* Banner Styles */
/* -------------- */
.banner {
  max-width: 896px;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 1rem 0;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banner-title {
  font-weight: bold;
}
.banner-msg {
  font-weight: 500;
}
.banner-success {
  background-color: #ecfdf5;
  color: #065f46;
}
.banner-warning {
  background-color: #fffbeb;
  color: #92400e;
}
.banner-error {
  background-color: #fef2f2;
  color: #92400e;
}
.banner-neutral {
  background-color: #eff6ff;
  color: #1e40af;
}
/* -------------- */

/* Card Styles */
/* -------------- */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: white;
  background-color: #3f75fe;
  height: 48px;
  width: 48px;
  position: relative;
  top: 24px;
  z-index: 1000;
  margin: 0 auto;
  font-size: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.card-content {
  position: relative;
  padding: 3rem 1.5rem 2rem 1.5rem;
  background-color: #f9fafb;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  max-width: 384px;
  cursor: pointer;
}
.card-content:hover,
.card-icon:hover + .card-content {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
}
.card-title {
  color: #111827;
  font-weight: 500;
  font-size: 1.25rem;
}
.card-msg {
  color: #6b7280;
  font-weight: 400;
  font-size: 1rem;
}
/* -------------- */

/* Testimonial Styles */
/* -------------- */
.testimonial {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  width: 100%;
  position: relative;
  background: #2545b8;
  color: white;
  padding: 0 2rem 2rem 2rem;
}

.testimonial__content {
  width: 100%;
  margin: 0 auto;
}

.testimonial__img {
  position: relative;
  flex-shrink: 0;
  width: 80%;
  max-width: 275px;
  height: 100px;
  margin: 0 auto 2rem auto;
}

.testimonial__img-photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.testimonial__quote {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 1rem;
  fill: rgba(255, 255, 255, 0.25);
}

.testimonial__msg {
  text-align: left;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.testimonial__icon {
  margin: 2rem auto 0 auto;
  max-width: 100px;
  max-height: 100px;
}

.testimonial--no-pic {
  background-color: white;
  color: #111827;
  font-weight: 500;
  max-width: 1358px;
  padding: 0;
  align-items: center;
}

.testimonial--no-pic .testimonial__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.testimonial--no-pic .testimonial__msg {
  max-width: 768px;
  text-align: left;
}

.testimonial--no-pic .testimonial__info {
  align-items: center;
}

/* Desktop Styles */
@media (min-width: 769px) {
  .testimonial {
    flex-direction: row;
    align-items: center;
    padding: 0;
    max-height: 400px;
  }
  .testimonial--no-pic {
    flex-direction: column;
  }
  .testimonial--no-pic .testimonial__msg {
    text-align: center;
  }
  .testimonial__content {
    padding: 4rem 4rem 4rem 0;
  }
  .testimonial__img {
    width: 275px;
    height: auto;
    aspect-ratio: 4 / 5;
    margin: 0 4rem;
  }
  .testimonial__img-photo {
    height: 125%;
    transform: translateY(-10%);
  }
  .testimonial__info {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .testimonial__info > *:not(:last-child)::after {
    content: "/";
    color: #2e59f3;
    font-weight: bold;
    margin-left: 0.5rem;
  }
}
