/* Button Styles */
/* -------------- */
.button {
  --button-radius: 6px;
  background-color: #e5e7eb;
  color: #4b5563;
  border: 1px solid #6b7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: var(--button-radius);
  line-height: 24px;
  display: flex;
  align-items: center;
}
.button:hover {
  background-color: #d1d5db;
}

.button:focus {
  outline: none;
}

/* Small */
.button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

/* Large */
.button.button-lg {
  padding: 13px 25px;
}

.button.button-success {
  color: #047857;
  background-color: #ecfdf5;
  border-color: #047857;
}

.button.button-warning {
  color: #fbbf24;
  background-color: #fffbeb;
  border-color: #fbbf24;
}

.button.button-danger {
  color: #f87171;
  background-color: #fef2f2;
  border-color: #f87171;
}
/* -------------- */
