/* Testimonial Styles */
/* -------------- */
.testimonial {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  width: 100%;
  position: relative;
  background: #2545b8;
  color: white;
  padding: 0 2rem 2rem 2rem;
}

.testimonial__content {
  width: 100%;
  margin: 0 auto;
}

.testimonial__img {
  position: relative;
  flex-shrink: 0;
  width: 80%;
  max-width: 275px;
  height: 100px;
  margin: 0 auto 2rem auto;
}

.testimonial__img-photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.testimonial__quote {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 1rem;
  fill: rgba(255, 255, 255, 0.25);
}

.testimonial__msg {
  text-align: left;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.testimonial__icon {
  margin: 2rem auto 0 auto;
  max-width: 100px;
  max-height: 100px;
}

.testimonial--no-pic {
  background-color: white;
  color: #111827;
  font-weight: 500;
  padding: 0;
  align-items: center;
}

.testimonial--no-pic .testimonial__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.testimonial--no-pic .testimonial__msg {
  max-width: 768px;
  text-align: left;
}

.testimonial--no-pic .testimonial__info {
  align-items: center;
}

/* Desktop Styles */
@media (min-width: 769px) {
  .testimonial {
    flex-direction: row;
    align-items: center;
    padding: 0;
    max-height: 400px;
    max-width: 1358px;
  }
  .testimonial--no-pic {
    flex-direction: column;
  }
  .testimonial--no-pic .testimonial__msg {
    text-align: center;
  }
  .testimonial__content {
    padding: 4rem 4rem 4rem 0;
  }
  .testimonial__img {
    width: 275px;
    height: auto;
    aspect-ratio: 4 / 5;
    margin: 0 4rem;
  }
  .testimonial__img-photo {
    height: 125%;
    transform: translateY(-10%);
  }
  .testimonial__info {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .testimonial__info > *:not(:last-child)::after {
    content: "/";
    color: #2e59f3;
    font-weight: bold;
    margin-left: 0.5rem;
  }
}
