/* Testimonial Styles */

.testimonial__no_pic {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
  background-color: white;
  color: #111827;
  padding: 0 2rem 2rem 2rem;
  font-weight: 500;
  padding: 2rem;
  position: relative;
}

.testimonial__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  z-index: 1;
}

.testimonial__msg {
  text-align: left;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
  max-width: 100%;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
}

.testimonial__icon {
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
}

.testimonial__overlay {
  position: absolute;
  top: 65%;
  left: 0%;
  width: 50%;
  height: 35%;
  background-image: radial-gradient(#e5e7eb 2px, transparent 0);
  background-size: 20px 20px;
  background-position: 10% 75%;
  z-index: 0;
}

/* Desktop Styles */
@media (min-width: 769px) {
  .testimonial__no_pic {
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    max-width: 1358px;
    margin: 1rem 0;
  }
  .testimonial--no-pic .testimonial__msg {
    text-align: center;
  }
  .testimonial__content {
    align-items: center;
    text-align: center;
  }
  .testimonial__msg {
    max-width: 768px;
  }
  .testimonial__info {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .testimonial__info > *:not(:last-child)::after {
    content: "/";
    color: #2e59f3;
    font-weight: bold;
    margin-left: 0.5rem;
  }
  .testimonial__overlay {
    top: 30%;
    width: 16%;
    height: 70%;
  }
}
