/* Menu Styles */
/* -------------- */
.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: white;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.menu-item {
  color: #4b5563;
  padding: 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6b7280;
}

.menu-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.menu-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
/* -------------- */
